# Archivos de construcción
dist/
build/

# Dependencias
node_modules/

# Configuramos Prettier para formatear estos archivos en lugar de ignorarlos
# Los mantenemos aquí como referencia por si es necesario ignorarlos en el futuro
# vite.config.js
# tailwind.config.js
# postcss.config.js
